name: WordPress.org Update Plugin Readme and Asset
permissions:
  contents: read
on:
  push:
    branches:
    - main
jobs:
  trunk:
    name: Push to trunk
    runs-on: ubuntu-latest
    environment: production
    steps:
    - uses: actions/checkout@v5
    - name: WordPress.org plugin asset/readme update
      uses: 10up/action-wordpress-plugin-asset-update@stable
      env:
        SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
        SVN_USERNAME: ${{ secrets.SVN_USERNAME }}